html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 2%;
    padding: 3%;
    background-color: #f9f9f9;
}

.padding {
    padding: 1em;
}

.navbar {
    padding: 0.3em;
}

.navbar-nav li {
    padding-right: 1em;
}

.nav-link {
    font-size: 1em !important;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

footer {
    padding: auto;
    width: 100%;
    background-color: #343a40;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

#imagePresentation {
    width: 100%;
    height: 20rem;
}

* {
    box-sizing: border-box;
}

.inscription {
    margin-top: 3rem;
    padding: 2rem;
    padding-bottom: 0.5em;
    background-color: white;
}

.inscription input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.inscription input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 0.5rem 0.8rem;
    margin: .5rem 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
    height: 5rem;
    font-size: 1.3rem;
}

#inscriptionTrans {
    display: none;
    margin-top: 2rem;
}

#transDivInscr {
    display: none;
}


/********************** Add style to login modal*****************************/

#btnLogin {
    background-color: #04AA6D;
    color: white;
    padding: 1.1rem 1.5rem;
    margin: 0.8 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#btnLogin:hover {
    opacity: 0.8;
}


/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.containerLogin {
    padding: 1.2rem;
}

.modal-content input[type=text] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

span.password {
    float: right;
    padding-top: 1.5rem;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 20;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    padding-top: 60px;
}

.containerLogin input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }
}


/*      Style annonce details */

.nconnectedDetails {
    padding: 1rem 1rem 0rem 1rem;
    background: #f1f1f1;
}

.connectedDetails {
    padding: 0rem 1rem 1rem 1rem;
    background: #f1f1f1;
}

.btn-primary {
    background: #037c4f;
    border-color: #037c4f;
    color: #fff;
    padding-right: 2.2rem;
    padding-left: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 1.1rem;
}

.btn-primary:hover {
    background-color: #039560;
}

input[type=file],
input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=file]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.menu-profile {
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #ddd;
    display: block;
    height: 100%;
}

.btn-profile {
    border: none;
    border-bottom: 0.2rem solid #d1d1d1;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 1.3rem;
    text-align: center;
    background-color: #ddd;
}

.btn-profile:hover,
.btn-profile:focus {
    background-color: #d3d3d3;
    border: none;
}

.div-profile {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0%;
}

.div-profile i {
    padding-right: 2rem;
    align-items: left;
}

.modifProfile {
    width: 100%;
}

.vtcDiapo img {
    width: 100%;
}

.detailsNews {
    width: 100%;
    background-color: #e0e0e0;
}

.detailsNews img {
    width: 100%;
}

.detailsNews a {
    color: rgb(14, 151, 103);
}

.rechercheDiv {
    margin: 1rem 0rem 1rem 0rem;
    padding: 3rem;
    background-color: #343a40;
    color: #f6f6f6ce;
}

.rechercheDiv:hover {
    color: #f6f6f6;
}

#annAcc {
    font-size: 4.5rem;
}

.oval {
    height: 7rem;
    background-color: #343a40;
    border-radius: 50%;
    width: 10rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1d1d1;
}

.statsDiv {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rondStats {
    background-color: #e0dddd;
}